.header {
    background-color: green;
}

.main-container {
    /*padding: 20px;*/
}

.content-container {
    border: 1px solid blue;
    padding:20px;
}

.side-menu-container {
    border: 1px solid red;
    padding:20px;
}

.footer {
    background-color: green;
}


/*
 * Row with equal height columns
 * --------------------------------------------------
 */

@media (min-width: 992px) {
    .row-eq-height {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}
